<header>
	<mat-toolbar color="primary" class="header">
	  <img src="../../../assets/img/logo.png" alt="logo">
	  <h1 class="mainTitle">Pokedex</h1>
	  <span class="spacer"></span>
	  <div class="">
		<mat-form-field class="buscar" appearance="legacy">
		  <mat-label>Buscar</mat-label>
		  <input matInput placeholder="Ex. pikachu" type="text" #buscarPokemon (keyup.enter)="buscarPokemons(buscarPokemon.value)">
		  <button mat-button matSuffix (click)="buscarPokemons(buscarPokemon.value)">
			  <mat-icon>search</mat-icon>
		  </button>
		</mat-form-field>
	  </div>
	</mat-toolbar>
</header>
